services:
    Bref\Symfony\Messenger\Service\BusDriver: '@Bref\Symfony\Messenger\Service\SimpleBusDriver'
    Bref\Symfony\Messenger\Service\SimpleBusDriver:
        arguments:
            - '@logger'

    # SNS
    Bref\Symfony\Messenger\Service\Sns\SnsTransportFactory:
        tags: ['messenger.transport_factory']
        arguments:
            - '@bref.messenger.sns_client'
    bref.messenger.sns_client:
        class: AsyncAws\Sns\SnsClient

    # EventBridge
    Bref\Symfony\Messenger\Service\EventBridge\EventBridgeTransportFactory:
        tags: ['messenger.transport_factory']
        arguments:
            - '@bref.messenger.eventbridge_client'
    bref.messenger.eventbridge_client:
        class: AsyncAws\EventBridge\EventBridgeClient
